/* Write your CSS here */
.nav-container {
  background-color: #475569;
  padding: 10px;
  padding-left: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.main-heading {
  color: #e2e8f0;
  font-family: 'Roboto';
}
.label-name {
  font-family: 'Roboto';
  color: #f1f5f9;
  padding-left: 10px;
}
.input-container {
  padding-bottom: 10px;
}
